.join-room {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  height: 0;
}

.join-room input {
  font-size: 2rem;
  width: 7ch;
}

.join-room button {
  font-size: 2rem;
}
