.join-room {
  width: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  opacity: 0;
  height: 0;
}

.join-room input {
  font-size: 3rem;
  width: 7ch;
}
