.room-creation {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
}

.room-creation .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-creation span {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  font-size: 2rem;
}

.room-creation .text {
  margin-top: 1.5rem;
  white-space: nowrap
}

.room-creation textarea {
  width: 20rem;
  font-size: 1.2rem;
}

.room-creation .slider {
  appearance: none;
}

.MuiSlider-markLabel {
  font-size: 1rem;
}

.slider span {
  font-size: 1.7rem;
  font-family: 'Patrick Hand', cursive;
}

.room-creation .public {
  display: flex;
  align-items: center;
}

.room-creation button {
  font-size: 2rem;
  margin-top: 1rem;
}

.room-creation .checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
